body {
  background-color: orange;
}

#inputField {
  margin-left: 10px;
}

  h2 {
  border-radius: 20px;
  width: 50%;
  border-style: solid;
  border-color: white;
  background-color: blue;
  color: white;
  padding: 5px;
}

h3 {
  border-radius: 20px;
  width: 50%;
  border-style: solid;
  border-color: white;
  background-color: blue;
  color: white;
  padding: 5px;
}

#newDiv {
  border-radius: 20px;
  width: 40%;
  border-style: solid;
  border-color: white;
  margin-top: 10px;
  background-color: blue;
  color: white;
}

#generic {
  margin-left: 30%;
}

#complete {
  border-radius: 20px;
  color: black;
  margin-bottom: 5px;
  margin-left: 25px;
  background-color: orange;
  border-style: solid;
  border-color: white;
}

#delete {
  border-radius: 20px;
  margin-left: 5px;
  margin-bottom: 5px;
  color: black;
  background-color: orange;
  border-style: solid;
  border-color: white;
}

#createTask {
  border-radius: 20px;
  margin-left: 5px;
  margin-bottom: 5px;
  color: black;
  background-color: blue;
  border-style: solid;
  border-color: white;
  color: white;
}

#displayField {
  postition: center;
}

#completeDiv {
  border-radius: 20px;
  width: 40%;
  border-style: solid;
  border-color: white;
  margin-top: 10px;
  background-color: black;
  color: white;
}

#delete2 {
  border-radius: 20px;
  margin-left: 5px;
  margin-bottom: 5px;
  color: black;
  background-color: orange;
  border-style: solid;
  border-color: white;
}
